:root {
  --background: hsl(100.0000 14.2857% 95.8824%);
  --foreground: hsl(100.9091 39.2857% 10.9804%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(100.9091 39.2857% 10.9804%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(100.9091 39.2857% 10.9804%);
  --primary: hsl(261.7450 65.6388% 55.4902%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(334.1722 65.9389% 55.0980%);
  --secondary-foreground: hsl(0 0% 100%);
  --muted: hsl(100.0000 14.2857% 95.8824%);
  --muted-foreground: hsl(100.0000 8.9362% 46.0784%);
  --accent: hsl(0 0% 93.3333%);
  --accent-foreground: hsl(100.9091 39.2857% 10.9804%);
  --destructive: hsl(240 84.2365% 60.1961%);
  --destructive-foreground: hsl(0 0% 98.0392%);
  --border: hsl(100 13.0435% 90.9804%);
  --input: hsl(100 13.0435% 90.9804%);
  --ring: hsl(261.7450 65.6388% 55.4902%);
  --chart-1: hsl(262.2973 75.5102% 61.5686%);
  --chart-2: hsl(312.9730 76.2887% 61.9608%);
  --chart-3: hsl(46.9430 85.7778% 55.8824%);
  --chart-4: hsl(103.7143 60.8696% 54.9020%);
  --chart-5: hsl(178.7500 64.2857% 56.0784%);
  --sidebar: hsl(100.0000 14.2857% 95.8824%);
  --sidebar-foreground: hsl(100.9091 39.2857% 10.9804%);
  --sidebar-primary: hsl(261.7450 65.6388% 55.4902%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(105.0000 7.1429% 89.0196%);
  --sidebar-accent-foreground: hsl(100.9091 39.2857% 10.9804%);
  --sidebar-border: hsl(100 13.0435% 90.9804%);
  --sidebar-ring: hsl(261.7450 65.6388% 55.4902%);
  --font-sans: Geist Mono, ui-monospace, monospace;
  --font-serif: serif;
  --font-mono: Geist Mono, ui-monospace, monospace;
  --radius: 0rem;
  --shadow-2xs: 4px 4px 0px 1px hsl(0 0% 0% / 0.01);
  --shadow-xs: 4px 4px 0px 1px hsl(0 0% 0% / 0.01);
  --shadow-sm: 4px 4px 0px 1px hsl(0 0% 0% / 0.02), 4px 1px 2px 0px hsl(0 0% 0% / 0.02);
  --shadow: 4px 4px 0px 1px hsl(0 0% 0% / 0.02), 4px 1px 2px 0px hsl(0 0% 0% / 0.02);
  --shadow-md: 4px 4px 0px 1px hsl(0 0% 0% / 0.02), 4px 2px 4px 0px hsl(0 0% 0% / 0.02);
  --shadow-lg: 4px 4px 0px 1px hsl(0 0% 0% / 0.02), 4px 4px 6px 0px hsl(0 0% 0% / 0.02);
  --shadow-xl: 4px 4px 0px 1px hsl(0 0% 0% / 0.02), 4px 8px 10px 0px hsl(0 0% 0% / 0.02);
  --shadow-2xl: 4px 4px 0px 1px hsl(0 0% 0% / 0.05);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: hsl(160 5.8824% 10%);
  --foreground: hsl(0 0% 75.6863%);
  --card: hsl(0 0% 7.0588%);
  --card-foreground: hsl(0 0% 75.6863%);
  --popover: hsl(160 5.8824% 10%);
  --popover-foreground: hsl(0 0% 75.6863%);
  --primary: hsl(261.7450 65.6388% 55.4902%);
  --primary-foreground: hsl(160 5.8824% 10%);
  --secondary: hsl(334.1722 65.9389% 55.0980%);
  --secondary-foreground: hsl(160 5.8824% 10%);
  --muted: hsl(0 0% 13.3333%);
  --muted-foreground: hsl(0 0% 53.3333%);
  --accent: hsl(0 0% 20%);
  --accent-foreground: hsl(0 0% 75.6863%);
  --destructive: hsl(0 79.1667% 52.9412%);
  --destructive-foreground: hsl(160 5.8824% 10%);
  --border: hsl(0 0% 13.3333%);
  --input: hsl(0 0% 13.3333%);
  --ring: hsl(262.2973 75.5102% 61.5686%);
  --chart-1: hsl(262.2973 75.5102% 61.5686%);
  --chart-2: hsl(327.9730 76.2887% 61.9608%);
  --chart-3: hsl(34.8649 76.2887% 61.9608%);
  --chart-4: hsl(102.2222 55.1020% 48.0392%);
  --chart-5: hsl(192.1622 76.2887% 61.9608%);
  --sidebar: hsl(0 0% 7.0588%);
  --sidebar-foreground: hsl(0 0% 75.6863%);
  --sidebar-primary: hsl(262.2973 75.5102% 61.5686%);
  --sidebar-primary-foreground: hsl(160 5.8824% 10%);
  --sidebar-accent: hsl(0 0% 20%);
  --sidebar-accent-foreground: hsl(0 0% 75.6863%);
  --sidebar-border: hsl(0 0% 13.3333%);
  --sidebar-ring: hsl(262.2973 75.5102% 61.5686%);
  --font-sans: Geist Mono, ui-monospace, monospace;
  --font-serif: serif;
  --font-mono: Geist Mono, ui-monospace, monospace;
  --radius: 0rem;
  --shadow-2xs: 4px 4px 0px 1px hsl(0 0% 0% / 0.01);
  --shadow-xs: 4px 4px 0px 1px hsl(0 0% 0% / 0.01);
  --shadow-sm: 4px 4px 0px 1px hsl(0 0% 0% / 0.02), 4px 1px 2px 0px hsl(0 0% 0% / 0.02);
  --shadow: 4px 4px 0px 1px hsl(0 0% 0% / 0.02), 4px 1px 2px 0px hsl(0 0% 0% / 0.02);
  --shadow-md: 4px 4px 0px 1px hsl(0 0% 0% / 0.02), 4px 2px 4px 0px hsl(0 0% 0% / 0.02);
  --shadow-lg: 4px 4px 0px 1px hsl(0 0% 0% / 0.02), 4px 4px 6px 0px hsl(0 0% 0% / 0.02);
  --shadow-xl: 4px 4px 0px 1px hsl(0 0% 0% / 0.02), 4px 8px 10px 0px hsl(0 0% 0% / 0.02);
  --shadow-2xl: 4px 4px 0px 1px hsl(0 0% 0% / 0.05);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}