:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(0 0% 0%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 0%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 0%);
  --primary: hsl(116.2105 82.6087% 45.0980%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(116.2105 82.6087% 45.0980%);
  --secondary-foreground: hsl(0 0% 100%);
  --muted: hsl(0 0% 94.1176%);
  --muted-foreground: hsl(0 0% 20%);
  --accent: hsl(115.9259 83.5052% 61.9608%);
  --accent-foreground: hsl(0 0% 100%);
  --destructive: hsl(0 100% 60%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(0 0% 0%);
  --input: hsl(0 0% 0%);
  --ring: hsl(116.2105 82.6087% 45.0980%);
  --chart-1: hsl(116.2105 82.6087% 45.0980%);
  --chart-2: hsl(178.8235 87.1795% 54.1176%);
  --chart-3: hsl(213.9726 100% 57.0588%);
  --chart-4: hsl(267.0652 100.0000% 63.9216%);
  --chart-5: hsl(345.0718 100% 59.0196%);
  --sidebar: hsl(0 0% 94.1176%);
  --sidebar-foreground: hsl(0 0% 0%);
  --sidebar-primary: hsl(116.2105 82.6087% 45.0980%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(0 0% 90.1961%);
  --sidebar-accent-foreground: hsl(0 0% 0%);
  --sidebar-border: hsl(0 0% 0%);
  --sidebar-ring: hsl(116.2105 82.6087% 45.0980%);
  --font-sans: Quantico, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Quantico, ui-sans-serif, sans-serif, system-ui;
  --font-mono: M PLUS 1 Code, ui-monospace, monospace;
  --radius: 0rem;
  --shadow-2xs: 2px 2px 0px 0px hsl(0 0% 0% / 0.00);
  --shadow-xs: 2px 2px 0px 0px hsl(0 0% 0% / 0.00);
  --shadow-sm: 2px 2px 0px 0px hsl(0 0% 0% / 0.00), 2px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 2px 2px 0px 0px hsl(0 0% 0% / 0.00), 2px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 2px 2px 0px 0px hsl(0 0% 0% / 0.00), 2px 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 2px 2px 0px 0px hsl(0 0% 0% / 0.00), 2px 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 2px 2px 0px 0px hsl(0 0% 0% / 0.00), 2px 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 2px 2px 0px 0px hsl(0 0% 0% / 0.00);
  --tracking-normal: 0em;
  --spacing: 0.2rem;
}

.dark {
  --background: hsl(0 0% 0%);
  --foreground: hsl(0 0% 100%);
  --card: hsl(0 0% 12.9412%);
  --card-foreground: hsl(0 0% 100%);
  --popover: hsl(0 0% 12.9412%);
  --popover-foreground: hsl(0 0% 100%);
  --primary: hsl(116.2105 82.6087% 45.0980%);
  --primary-foreground: hsl(0 0% 0%);
  --secondary: hsl(116.2105 82.6087% 45.0980%);
  --secondary-foreground: hsl(0 0% 0%);
  --muted: hsl(0 0% 27.8431%);
  --muted-foreground: hsl(0 0% 80%);
  --accent: hsl(116.2105 82.6087% 45.0980%);
  --accent-foreground: hsl(0 0% 0%);
  --destructive: hsl(0 71.2000% 50.9804%);
  --destructive-foreground: hsl(0 0% 0%);
  --border: hsl(0 0% 38.0392%);
  --input: hsl(0 0% 100%);
  --ring: hsl(116.2105 82.6087% 45.0980%);
  --chart-1: hsl(116.2105 82.6087% 45.0980%);
  --chart-2: hsl(178.8235 87.1795% 54.1176%);
  --chart-3: hsl(213.9726 100% 57.0588%);
  --chart-4: hsl(267.0652 100.0000% 63.9216%);
  --chart-5: hsl(345.0718 100% 59.0196%);
  --sidebar: hsl(0 0% 0%);
  --sidebar-foreground: hsl(0 0% 100%);
  --sidebar-primary: hsl(116.2105 82.6087% 45.0980%);
  --sidebar-primary-foreground: hsl(0 0% 0%);
  --sidebar-accent: hsl(0 0% 18.8235%);
  --sidebar-accent-foreground: hsl(0 0% 100%);
  --sidebar-border: hsl(0 0% 100%);
  --sidebar-ring: hsl(116.2105 82.6087% 45.0980%);
  --font-sans: Quantico, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Quantico, ui-sans-serif, sans-serif, system-ui;
  --font-mono: M PLUS 1 Code, ui-monospace, monospace;
  --radius: 0rem;
  --shadow-2xs: 2px 2px 0px 0px hsl(0 0% 0% / 0.00);
  --shadow-xs: 2px 2px 0px 0px hsl(0 0% 0% / 0.00);
  --shadow-sm: 2px 2px 0px 0px hsl(0 0% 0% / 0.00), 2px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 2px 2px 0px 0px hsl(0 0% 0% / 0.00), 2px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 2px 2px 0px 0px hsl(0 0% 0% / 0.00), 2px 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 2px 2px 0px 0px hsl(0 0% 0% / 0.00), 2px 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 2px 2px 0px 0px hsl(0 0% 0% / 0.00), 2px 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 2px 2px 0px 0px hsl(0 0% 0% / 0.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}